---

applications:
  - name: notify-antivirus-api

    memory: 2G
    disk_quota: 2G

    routes:
      - route: notify-antivirus-{{ environment }}.cloudapps.digital

    health-check-type: http
    health-check-http-endpoint: /_status

    services:
      - logit-ssl-syslog-drain

    env:
      NOTIFY_APP_NAME: notify-antivirus-api
      CW_APP_NAME: antivirus
      STATSD_HOST: 'notify-statsd-exporter-{{ environment }}.apps.internal'

      # Credentials variables
      AWS_ACCESS_KEY_ID: '{{ AWS_ACCESS_KEY_ID }}'
      AWS_SECRET_ACCESS_KEY: '{{ AWS_SECRET_ACCESS_KEY }}'
      NOTIFICATION_QUEUE_PREFIX: '{{ NOTIFICATION_QUEUE_PREFIX }}'

      ANTIVIRUS_API_KEY: '{{ ANTIVIRUS_API_KEY }}'
