---

applications:
  - name: notify-antivirus

    memory: 2G
    disk_quota: 2G
    health-check-type: process
    routes:
      - route: notify-antivirus-celery-{{ environment }}.cloudapps.digital

    env:
      NOTIFY_APP_NAME: notify-antivirus
      CW_APP_NAME: antivirus
      STATSD_ENABLED: 1
      REDIS_ENABLED: '{{ REDIS_ENABLED }}'
      REDIS_URL: '{{ REDIS_URL }}'

      # Credentials variables
      AWS_ACCESS_KEY_ID: '{{ AWS_ACCESS_KEY_ID }}'
      AWS_SECRET_ACCESS_KEY: '{{ AWS_SECRET_ACCESS_KEY }}'
      STATSD_PREFIX: '{{ STATSD_PREFIX }}'
      NOTIFICATION_QUEUE_PREFIX: '{{ NOTIFICATION_QUEUE_PREFIX }}'
