---

applications:
  - name: notify-antivirus-api

    memory: 4G
    disk_quota: 2G

    routes:
      - route: notify-antivirus-{{ environment }}.cloudapps.digital

    health-check-type: http
    health-check-http-endpoint: /_status

    command: ./scripts/paas_app_wrapper.sh

    services:
      - logit-ssl-syslog-drain

    env:
      NOTIFY_APP_NAME: notify-antivirus-api
      CW_APP_NAME: antivirus
      STATSD_HOST: 'notify-statsd-exporter-{{ environment }}.apps.internal'
      NOTIFY_LOG_PATH: /home/vcap/logs/app.log
      NOTIFY_ENVIRONMENT: {{ environment }}

      # Credentials variables
      AWS_ACCESS_KEY_ID: '{{ AWS_ACCESS_KEY_ID }}'
      AWS_SECRET_ACCESS_KEY: '{{ AWS_SECRET_ACCESS_KEY }}'
      NOTIFICATION_QUEUE_PREFIX: '{{ NOTIFICATION_QUEUE_PREFIX }}'

      ANTIVIRUS_API_KEY: '{{ ANTIVIRUS_API_KEY }}'

      SENTRY_ENABLED: '{{ NOTIFICATIONS_ANTIVIRUS_SENTRY_ENABLED }}'
      SENTRY_DSN: '{{ NOTIFICATIONS_ANTIVIRUS_SENTRY_DSN }}'
      SENTRY_ERRORS_SAMPLE_RATE: '{{ NOTIFICATIONS_ANTIVIRUS_SENTRY_ERRORS_SAMPLE_RATE }}'
      SENTRY_TRACES_SAMPLE_RATE: '{{ NOTIFICATIONS_ANTIVIRUS_SENTRY_TRACES_SAMPLE_RATE }}'
