clamd==1.0.2
Flask==1.0.3
celery==3.1.25

Flask-HTTPAuth==3.3.0
gunicorn==19.7.1

# PaaS
awscli-cwlogs>=1.4,<1.5

git+https://github.com/alphagov/notifications-utils.git@32.0.1#egg=notifications-utils==32.0.1

git+https://github.com/alphagov/boto.git@2.43.0-patch3#egg=boto==2.43.0-patch3
