-r requirements.txt
black==22.8.0  # Also update `.pre-commit-config.yaml` if this changes
ruff==0.0.275  # Also update `.pre-commit-config.yaml` if this changes
freezegun==1.2.1
pytest==7.1.1
pytest-mock==3.7.0
pytest-env==0.6.2

jinja2-cli[yaml]==0.8.2
