clamd==1.0.2
Flask==2.3.2
celery[sqs]==5.2.6
Flask-HTTPAuth==4.8.0
gunicorn==20.1.0

# PaaS
awscli-cwlogs==1.4.6

git+https://github.com/alphagov/notifications-utils.git@74.9.0

sentry_sdk[flask,celery]>=1.0.0,<2.0.0
